<div class="container more-container">
  <h3>{{ site.more_title | default: "A Little More About Me" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.more_content | strip | markdownify }}
    </div>
  </div>
</div>
<div class="container more-container">
  <h3>Ainda tem dúvidas? Fale com meu assistente, acho que ele pode te ajudar!</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      <iframe width="100%" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/29bf3403-4578-4718-86cf-b43fee870d69"></iframe>
    </div>
  </div>
</div>
